* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #22C0EA;
  padding: 10px;
}

.logo {
  width: 100%;
  max-width: 200px; /* Adjust the max-width as needed */
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  float: none;
  margin-bottom: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.topnav {
    float: none;
  overflow: hidden;
  text-align: right;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 2%; /* Adjust the padding as needed */
  text-decoration: none;
  margin: 5px auto;
}

.topnav a:hover {
  background-color: #1C96B8;
  color: white;
}

.content {
    background-color: #1C96B8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-video {
    width: 100%; /* Make the video fill the container */
    max-width: 100%; /* Ensure the video doesn't exceed its natural size */
    display: block; /* Make the video block-level for centering */
    margin: 0 auto; /* Center the video horizontally */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Adjust this value based on your design */
  background-color: #6BD2EE;
  border: 5px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.job {
  font-size: 18px;
  color: #555;
}

.bio {
  margin: 20px 0;
}

    .project-container {
        max-width: 100%;
        max-height: 100%;
        text-align: center; /* Center the content within the container */
    }
    video {
    width: 100%; /* Make the video fill the container */
    max-width: 100%; /* Ensure the video doesn't exceed its natural size */
    display: inline-block; /* Make the video inline-block for centering */
}

footer {
  background-color: #22C0EA;
  padding: 10px;
  font-size: 24px;
  width: 100%;
}

.footer-links a {
  text-decoration: none;
  margin: 0 2%; /* Adjust the margin as needed */
}
        

       
        
