* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Tahoma, sans-serif;
       min-height: 50%;
}

.container {
  background-color: #1C96B8;
  font-family: Tahoma, sans-serif;
}

.header-container {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #22C0EA;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  float: none;
  margin-bottom: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
}
nav {
  overflow: hidden;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 2%;
  text-decoration: none;
  display: block;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  background-color: #1C96B8;
  color: white;
}

nav ul li a.active {
    color: #1C96B8;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #87CEEB; /* Light blue background color */
    color: #000; /* Black text color */
}



.grid-container {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }

/* Style the footer */

/* Style the footer */
footer {
  background-color: #22C0EA;
  padding: 10px;
}

.footer-links {
   text-align: center;
   margin-top: 20px;
}

.footer-links a {
  text-decoration: none;
  margin: 0 10px;
}


@media only screen and (max-width: 600px) {
  /* Additional styles from the second CSS file for responsiveness */
  .header-container {
    padding: 10px 5px;
  }
  nav {
    text-align: center;
  }
  
  nav ul {
      flex-direction: column; /* Stack navigation vertically on smaller screens */
   }

   nav ul li {
      margin-right: 0; /* Remove right margin to stack items without spacing */
      margin-bottom: 10px; /* Add some space between stacked items */
   }
 nav ul li a {
    display: block;
    width: 50%;
    box-sizing: border-box;
  }
  .grid-container {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }
}
